Import Statements

In [2]:
import pandas as pd
import pyodbc
import sqlite3

C:\Users\AdvancedGaming\AppData\Local\Temp\ipykernel_8044\2698988305.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Connectie

In [4]:
DB = {'servername': 'ADVANCED-LEGION\\SQLEXPRESS', 'database': 'datawarehouse4.3'}

export_conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + DB['servername'] +
                             ';DATABASE=' + DB['database'] + ';Trusted_connection=yes')

export_cursor = export_conn.cursor()
export_cursor

Databases

In [11]:
go_sales = sqlite3.connect('go_sales.sqlite')
go_sales
go_crm = sqlite3.connect('go_crm.sqlite')
go_crm
go_staff = sqlite3.connect('go_staff.sqlite')
go_staff
inventory = sqlite3.connect('GO_SALES_INVENTORY_LEVELSData.csv')
inventory
forecast = sqlite3.connect('GO_SALES_PRODUCT_FORECASTData.csv')
forecast

Data in datawarehouse zetten

In [12]:
QUERY = pd.DataFrame(pd.read_sql_query("SELECT * FROM returned_item", go_sales))

all_queries = ""

for index, row in QUERY.iterrows():
    try:
        query = f"""
        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number) 
        VALUES ('{row['RETURN_DATE']}')
        """
        
        all_queries += query
    except Exception as e:
        print(f"Error executing query: {query}")
        print(f"Error details: {e}")

print(all_queries)

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('1-8-2021 04:10:24')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-12-2020 18:46:19')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('24-6-2021 09:23:14')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('21-7-2021 00:00:09')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-10-2020 05:13:58')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-8-2020 19:49:53')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-11-2021 01:03:43')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-7-2020 15:39:37')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('28-10-2021 06:16:32')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('27-8-2022 20:52:27')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-4-2021 11:29:22')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-6-2021 02:06:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-6-2020 16:42:12')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('9-7-2021 07:19:07')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-7-2021 21:55:02')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-12-2022 01:04:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-8-2021 16:41:41')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-9-2021 08:19:38')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-10-2021 05:14:29')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-6-2022 20:51:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-7-2022 11:29:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-12-2022 03:08:20')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-11-2020 18:45:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('13-12-2022 01:02:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('5-10-2022 21:55:02')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('11-7-2021 19:49:53')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-7-2022 02:06:47')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-9-2021 17:43:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-8-2021 08:22:41')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-7-2021 15:37:35')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-6-2022 06:16:32')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-5-2021 21:53:29')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-8-2022 12:32:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('10-8-2022 04:10:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-7-2021 18:47:20')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-10-2021 10:26:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('24-11-2022 02:04:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('31-8-2022 10:27:19')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('5-12-2022 10:26:19')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-6-2022 18:46:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-11-2022 10:26:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('16-6-2022 02:06:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-4-2021 18:46:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('27-9-2021 02:06:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-12-2020 02:05:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-2-2021 17:44:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-1-2023 10:25:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-4-2020 02:05:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-1-2020 17:44:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('28-7-2020 09:24:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-7-2020 02:05:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-1-2020 17:44:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('27-11-2022 09:24:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-6-2020 02:04:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-8-2021 17:44:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-1-2022 09:24:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-9-2021 02:04:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('16-2-2022 09:24:14')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-4-2021 01:04:14')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('1-7-2022 17:43:14')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-12-2022 10:26:47')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-4-2021 03:08:50')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('27-7-2022 19:49:52')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-8-2020 12:31:55')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-4-2022 05:13:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-1-2021 21:54:01')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-12-2021 14:36:03')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('11-3-2020 07:18:06')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-9-2022 23:59:08')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('10-3-2021 16:41:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('18-4-2022 09:23:13')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-6-2022 02:05:16')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-1-2022 18:46:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-2-2023 11:28:21')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-8-2022 04:10:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('11-1-2023 20:51:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-4-2020 13:33:28')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('27-4-2021 06:15:31')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-10-2020 15:38:36')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-4-2021 01:02:41')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('24-10-2022 17:43:43')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-8-2022 10:25:46')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-9-2022 03:07:49')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('28-12-2020 14:35:02')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-5-2021 07:19:07')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('18-12-2020 01:03:12')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-12-2021 18:45:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-8-2020 11:29:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-6-2022 22:56:34')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-11-2022 16:40:39')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('1-5-2022 20:51:55')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-6-2021 13:34:01')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-4-2022 18:45:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-10-2022 11:29:22')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-9-2021 05:13:28')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-12-2021 15:40:38')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('24-8-2022 09:23:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('5-1-2023 03:07:49')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-2-2023 20:50:54')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-5-2022 13:34:01')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-11-2020 01:02:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('16-2-2022 17:45:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-5-2021 11:29:22')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-12-2022 05:12:27')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-1-2021 15:39:38')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-12-2021 09:23:43')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-4-2021 16:41:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-4-2022 05:12:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-9-2021 22:56:34')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-10-2020 16:41:41')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-8-2020 10:27:49')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-10-2021 05:12:56')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('11-7-2022 16:42:12')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-9-2021 11:27:19')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('30-10-2022 05:12:27')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('1-12-2020 11:27:49')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-8-2020 05:12:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-12-2021 22:57:05')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-3-2022 16:42:13')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-1-2021 11:27:20')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-6-2022 05:13:27')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-12-2020 16:42:42')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-12-2021 05:13:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('9-9-2022 22:57:06')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('5-11-2022 17:42:13')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-11-2021 11:28:21')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-12-2021 05:13:28')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('21-8-2021 22:57:36')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-5-2020 11:28:50')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('15-9-2022 21:55:03')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-3-2021 11:29:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-11-2021 01:04:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('24-6-2022 19:50:54')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-12-2022 14:37:05')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('30-5-2020 09:24:15')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-12-2020 04:12:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-9-2021 22:58:36')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('18-10-2021 17:45:46')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('5-10-2021 12:32:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-6-2022 07:19:08')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('31-10-2022 02:06:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-6-2021 20:53:28')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-11-2022 15:40:39')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-11-2022 05:14:00')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('18-10-2022 00:01:10')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-6-2022 18:47:21')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-8-2020 13:35:31')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('1-6-2021 08:22:41')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('10-8-2021 03:09:51')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-1-2022 21:55:03')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-4-2021 16:42:13')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-8-2021 11:29:23')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-10-2021 19:48:51')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('8-1-2022 14:37:05')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-11-2022 10:26:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('28-7-2022 06:15:31')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-10-2022 02:04:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-4-2022 20:52:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-9-2020 16:41:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('17-5-2021 12:30:24')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('23-10-2022 22:56:05')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-12-2021 18:46:18')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('18-7-2021 13:35:31')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-7-2020 09:24:44')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-3-2020 05:13:57')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('30-3-2022 19:50:24')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('10-11-2022 07:17:04')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-10-2020 02:06:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-7-2022 17:43:43')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('11-12-2022 12:32:56')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('9-10-2021 08:21:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('19-6-2021 04:10:24')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('16-11-2021 23:58:37')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('31-8-2022 18:47:50')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('2-12-2022 01:03:43')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-7-2021 13:34:31')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('12-10-2020 10:25:46')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-8-2021 06:15:02')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('3-4-2021 02:06:17')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('26-8-2022 18:46:48')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('30-7-2020 07:17:34')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('10-9-2021 19:48:21')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('4-8-2021 15:38:36')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('21-8-2021 11:28:51')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('14-10-2021 07:19:07')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('7-1-2022 23:59:38')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-5-2021 19:49:53')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('29-10-2021 16:40:09')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('9-9-2022 12:30:24')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('22-10-2020 08:21:40')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-4-2020 04:11:55')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('25-7-2021 01:02:11')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('6-4-2021 20:51:26')

        INSERT INTO RETURN_DATE(RETURN_DATE_RETURN_DATE_number)
        VALUES ('20-5-2022 13:32:57')
