In [6]:
import sqlite3
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
#from efficient_apriori import apriori
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
db_connection = sqlite3.connect("go_sales.sqlite")
sql_query = "SELECT * FROM PRODUCT;"
lol = pd.read_sql_query(sql_query, db_connection)
sql_query = "SELECT * FROM ORDER_DETAILS;"
lol2 = pd.read_sql_query(sql_query, db_connection)

In [8]:
merged = pd.merge(lol, lol2, on="PRODUCT_NUMBER", how="left")

In [9]:
merged_skimmed = merged.loc[:, ["ORDER_NUMBER", "PRODUCT_NAME", "QUANTITY"]]
merged_skimmed

      ORDER_NUMBER         PRODUCT_NAME  QUANTITY
0             8474  TrailChef Water Bag        40
1             8470  TrailChef Water Bag        40
2             8464  TrailChef Water Bag        48
3             9254  TrailChef Water Bag        66
4             8472  TrailChef Water Bag        88
...            ...                  ...       ...
43058         8210          Aloe Relief        30
43059         8246          Aloe Relief        20
43060         8239          Aloe Relief        18
43061         8270          Aloe Relief        26
43062         8328          Aloe Relief        28

[43063 rows x 3 columns]

# Frequent Itemsets

In [10]:


# Create a list of lists to represent the transactions
transactions = []

for order_num in merged_skimmed["ORDER_NUMBER"].unique():
    products = merged_skimmed[merged_skimmed["ORDER_NUMBER"] == order_num]["PRODUCT_NAME"].tolist()
    transactions.append(products)

# Initialize TransactionEncoder
te = TransactionEncoder()
# Transform the list of lists into a one-hot encoded boolean dataframe
df_dummies = te.fit_transform(transactions)
# Convert to a pandas DataFrame
df = pd.DataFrame(df_dummies, columns=te.columns_)

# Show the transformed dataframe
print(df.head())

NameError: name 'TransactionEncoder' is not defined

In [ ]:


# Generate frequent itemsets
frq_items1 = apriori(df, min_support=0.01, use_colnames=True)

# Filter out the single items
combinations = frq_items1[frq_items1['itemsets'].apply(lambda x: len(x)) > 1]

print(combinations)

       support                                           itemsets
115   0.011381                   (BugShield Extreme, Aloe Relief)
116   0.010075                         (Double Edge, Aloe Relief)
117   0.013993                         (Sun Blocker, Aloe Relief)
118   0.011194                      (Aloe Relief, Sun Shelter 15)
119   0.015858                      (Aloe Relief, Sun Shelter 30)
...        ...                                                ...
1902  0.016978       (TrailChef Water Bag, TrailChef Kitchen Kit)
1903  0.014552       (TrailChef Utensils, TrailChef Single Flame)
1904  0.012313      (TrailChef Water Bag, TrailChef Single Flame)
1905  0.015672          (TrailChef Utensils, TrailChef Water Bag)
1906  0.010448  (Blue Steel Max Putter, Lady Hailstorm Titaniu...

[1792 rows x 2 columns]